:root{
/* primary */
--Green: hsl(75, 94%, 57%);
/*Neutral*/
--White: hsl(0, 0%, 100%);
--Grey: hsl(0, 0%, 20%);
--DarkGrey: hsl(0, 0%, 12%);
--OffBlack: hsl(0, 0%, 8%);
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: var(--OffBlack);
    color: white;
    font-family: "Inter", sans-serif;
}